body {
  background-color: rgb(215, 237, 255);

  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.weather-card {
  background: linear-gradient(to bottom, #4facfe, #00f2fe);
  margin-bottom: 300px;
  display: block;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  color: white;
  text-align: center;
  padding: 30px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 100%;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 15px 20px;
}

.search-form-button {
  background: linear-gradient(to bottom, #4facfe, #00f2fe);
  padding: 15px 30px;
  border: none;
  font-size: 20px;
  margin-right: 50px 50px;
  border-radius: 6px;
  color: white;
}

h1 {
  font-size: 54px;
  line-height: 18px;
  font-weight: 100;
  margin-top: 50px;
}

.date {
  font-size: 20px;
  margin-right: 60px;
  margin-top: 50px;
  color: rgb(13, 10, 201);
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.temperature-info {
  display: flex;
}

.weather-app-temperature {
  font-size: 54px;
  font-weight: 100;
  line-height: 18px;
  margin-top: 50px;
}

.weather-app-unit {
  margin-top: 25px;
  margin-right: 40px;
  font-size: 28px;
}

.temperature-info h2 {
  font-size: 48px;
  margin: 10px 0;
  display: flex;
}

.weather-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.weather-columns strong {
  color: rgb(13, 10, 201);
}

.column {
  flex: 1;
  padding: 15px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.column:first-child {
  border-left: none;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
